.aws-controls {
  text-align: right;
  margin-bottom: 16px;
  list-style-type:none;

  .control-button {
    display:inline;
  }

  button {
    padding:4px 8px;
    font-size:0.9em;

    &:hover,
    &:focus {
      background: $color-gray-40;
    }

    &:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  [aria-pressed="true"]{
    background: $color-gray-80;
  }
}


